<!doctype html>
<html lang="en">
<head>
  <title>FULL THROTTLE LABS</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#search" ).autocomplete({
      source: "/search/",
      minLength: 1,
    });
  });
  </script>
</head>
<body>
  <br>
<div class="ui-widget">

  <center>
    <p>Hi This is Rahul Chowdari. Here i  developed the code to test for an interview purpose. please let me know once you went with test cases</p>
    <br>
    <h2>Search your word here</h2>
  <form action= "jsonoutput" method= "GET">
      <input id="search" type="text" placeholder="Serch the Word" name="term" size="25">
      <input type="submit" value="Search">
  </form>
  </center>

</div>
</body>
</html>
